<nav class="breadcrumbs" aria-label="breadcrumb">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ .Site.BaseURL }}">
        <span itemprop="name">Home</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    
    {{ if .IsPage }}
      <li class="separator">/</li>
      {{ with .Site.GetPage "section" .Section }}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ .Permalink }}">
          <span itemprop="name">{{ .Title }}</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      {{ end }}
      <li class="separator">/</li>
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="name" aria-current="page">{{ .Title }}</span>
        <meta itemprop="position" content="3" />
      </li>
    {{ end }}
  </ol>
</nav>
